/*<<><><><><><LATEST PRODUCTS<<><><<><*/
.btn {

    background-color: #fff !important;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.card-cat {
    position: sticky !important;

}

.xol {
    border: none;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin-bottom: 0.5rem !important;
    margin-top: 0.8rem !important;
    cursor: pointer;
}

.olx {
    overflow: auto !important;
    scrollbar-width: none !important;
}

.olx::-webkit-scrollbar {
    display: none;
}

.img-olx {
    object-fit: cover !important;
    border-radius: 8px;
    width: 100%;
    height: 200px;
    min-height: 190px !important;
}



.xol-heart {
    position: relative;
}

.xol-heart a {
    position: absolute;
    right: 0;

}


.swiper-navBtn::before,
.swiper-navBtn::after {
    font-size: 13px !important;
    color: #fff;
}

.swiper-button-next {
    color: orange !important;
    background: orangered !important;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    position: absolute;
    top: 60%;
}

.swiper-button-prev {
    color: orange !important;
    background: orangered !important;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    position: absolute;
    top: 60%;
}